.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inlineDiv {
  margin-top: 100px; 
  display: inline-block;
  width: 800px;
}



.button {
  background: #fc5000;
  border-radius: 50px;
  color: #ffffff;
  font: 500 1.6rem/1.7rem Arial;
  height: 45px;
  max-width: 150px;
  width: 100%;
}

.button:hover {
  background: #ffffff;
  border: 1px solid #fc5000;
  color: #fc5000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
