:root {
    --color-dark-orange: #fc5000;
    --color-bright-orange: #ff5d2e;
    --color-orange: #ee6841;
    --color-light-orange: #ff9e82;
    --color-salmon: #fedccc;
    --color-cyan: #2de0e8;
    --color-pale-green: #23c68b;
    --color-bright-red: #ff5d2e;
    --color-light: #f5f5f5;
    --color-light-gray: #ededed;
    --color-light-nav: #979797;
    --color-light-border: #e5e5e5;
    --color-dark: #3c3c3b;
    --color-black-gray: #333;
    --color-white: #fff;
    --color-black: #000;
    --color-transparent: rgba(255, 255, 255, 0);
    --color-green-pulse: #2de8a5;
    --color-green-pulse-light: #cbf6e5;
  }
  